Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt.depth: 32
URxvt.background: #000000                                                                   
URxvt.foreground: #E4E4E4                                                                   
URxvt.scrollBar: false                                                                           
!URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true
!URxvt.font: xft:Courier New:pixelsize=12:antialias=true
URxvt*font: xft:Monospace:pixelsize=12:antialias=true
URxvt.allow_bold: true
URxvt.letterSpace: -2
URxvt.lineSpace: 2
URxvt*fading: 50

# Plugins

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
